@model List<RouteValueDictionary>

<!DOCTYPE html>
<html>
<head>
    <title>Strona główna</title>
</head>
<body>
    <h1>Lista tabel</h1>
    <ul>
        @foreach (var tableData in Model)
        {
            <li>@Html.ActionLink(tableData["TableName"].ToString(), "AuditLogs", "Home",new {tableName = tableData["TableName"].ToString()} )</li>
        }
    </ul>

</body>
</html>









